code/node-red-code.json
[{
	"id": "1f90f029.dd997",
	"type": "http in",
	"z": "c77b7014.ef615",
	"name": "",
	"url": "/github-data",
	"method": "post",
	"upload": false,
	"swaggerDoc": "",
	"x": 270,
	"y": 120,
	"wires": [
		["60cb1fb9.91c348", "5671ee47.6430e"]
	]
}, {
	"id": "5671ee47.6430e",
	"type": "function",
	"z": "c77b7014.ef615",
	"name": "Integração",
	"func": " var cidade;\n var tipo;\n var gps;\n var upcidade;\n\n\nif(msg.payload.action == \"labeled\"){\n    \n    \n    if(msg.payload.issue.labels[0].name == \"delete\")\n{\n        msg.method=\"DELETE\";\n        msg.url = \"{INSERT URL}/{INSERT INDEX}/\"+ msg.payload.issue.number;\n        msg.headers = {\"Content-type\" : \"application/json\"};\n        return msg;\n} \n    \n   \nif(msg.payload.issue.labels[0].name.indexOf(\":\") >= 0)\n{\n    \n cidade = msg.payload.issue.labels[0].name;\n \n \n   if(cidade==\"place:brazil:SP:SãoPaulo\")\n{\n    upcidade = cidade;\n    gps=\"-21.95,-49.02\";\n}\n  if(cidade==\"place:brazil:SP:Bauru\")\n{\n    upcidade = cidade;\n    gps=\"-22.32,-49.07\";\n}\n  if(cidade==\"place:brazil:DF:BrasÍlia\")\n{\n    upcidade = cidade;\n    gps=\"-15.79,-47.88\";\n}\n  if(cidade==\"place:brazil:MG:BeloHorizonte\")\n{\n    upcidade = cidade;\n    gps=\"-19.92,-43.94\";\n}\n  if(cidade==\"place:brazil:SP:Campinas\")\n{\n    upcidade = cidade;\n    gps=\"-22.90,-47.06\";\n}\n  if(cidade==\"place:brazil:PR:Curitiba\")\n{\n    upcidade = cidade;\n    gps=\"-25.42,-49.27\";\n}\n  if(cidade==\"place:brazil:SC:Florianópolis\")\n{\n    upcidade = cidade;\n    gps=\"-27.59,-48.54\";\n}\n  if(cidade==\"place:brazil:CE:Fortaleza\")\n{\n    upcidade = cidade;\n    gps=\"-3.73,-38.52\";\n}\n  if(cidade==\"place:brazil:GO:Goiânia\")\n{\n    upcidade = cidade;\n    gps=\"-16.68,-49.25\";\n}\n  if(cidade==\"place:brazil:RS:PortoAlegre\")\n{\n    upcidade = cidade;\n    gps=\"-30.03,-51.23\";\n}\n  if(cidade==\"place:brazil:PE:Recife\")\n{\n    upcidade = cidade;\n    gps=\"-8.06,-34.87\";\n}\n  if(cidade==\"place:brazil:RJ:RioDeJaneiro\")\n{\n    upcidade = cidade;\n    gps=\"-22.91,-43.20\";\n}\n  if(cidade==\"place:brazil:ES:Vitória\")\n{\n    upcidade = cidade;\n    gps=\"-20.32,-40.33\";\n}\n  if(cidade==\"place:brazil:PE:Olinda\")\n{\n    upcidade = cidade;\n    gps=\"-7.99,-34.87\";\n}\n   if(cidade==\"place:brazil:SP:Cravinhos\")\n{\n    upcidade = cidade;\n    gps=\"-21.34,-47.72\";\n}\n  if(cidade==\"place:brazil:SP:Botucatu\")\n{\n    upcidade = cidade;\n    gps=\"-22.89,-48.45\";\n}\n  if(cidade==\"place:brazil:SP:Guarulhos\")\n{\n    upcidade = cidade;\n    gps=\"-23.46,-46.53\";\n}\n  if(cidade==\"place:brazil:SC:Criciúma\")\n{\n    upcidade = cidade;\n    gps=\"-28.67,-49.36\";\n}\n  if(cidade==\"place:brazil:SP:ItapecericaDaSerra\")\n{\n    upcidade = cidade;\n    gps=\" -23.71,-46.84\";\n}\n\n\n\n \n}\nif(msg.payload.issue.labels[0].name == \"type:Code:F\" || msg.payload.issue.labels[0].name == \"type:Writer:C\" || msg.payload.issue.labels[0].name == \"type:Organizer:A\" || msg.payload.issue.labels[0].name == \"type:Speaker:B\" || msg.payload.issue.labels[0].name == \"type:Translator:E\" || msg.payload.issue.labels[0].name == \"type:Video:D\"){\n  tipo = msg.payload.issue.labels[0].name;\n  \n  tipo = tipo.substring(tipo.indexOf(':') + 1);\n  \n  tipo = tipo.substring(0, tipo.lastIndexOf(':'));\n  \n}\n\n\nif(msg.payload.issue.labels[1].name.indexOf(\":\") >= 0){\n \n cidade = msg.payload.issue.labels[1].name;\n  \n   if(cidade==\"place:brazil:SP:SãoPaulo\")\n{\n    upcidade = cidade;\n    gps=\"-21.95,-49.02\";\n}\n  if(cidade==\"place:brazil:SP:Bauru\")\n{\n    upcidade = cidade;\n    gps=\"-22.32,-49.07\";\n}\n  if(cidade==\"place:brazil:DF:BrasÍlia\")\n{\n    upcidade = cidade;\n    gps=\"-15.79,-47.88\";\n}\n  if(cidade==\"place:brazil:MG:BeloHorizonte\")\n{\n    upcidade = cidade;\n    gps=\"-19.92,-43.94\";\n}\n  if(cidade==\"place:brazil:SP:Campinas\")\n{\n    upcidade = cidade;\n    gps=\"-22.90,-47.06\";\n}\n  if(cidade==\"place:brazil:PR:Curitiba\")\n{\n    upcidade = cidade;\n    gps=\"-25.42,-49.27\";\n}\n  if(cidade==\"place:brazil:SC:Florianópolis\")\n{\n    upcidade = cidade;\n    gps=\"-27.59,-48.54\";\n}\n  if(cidade==\"place:brazil:CE:Fortaleza\")\n{\n    upcidade = cidade;\n    gps=\"-3.73,-38.52\";\n}\n  if(cidade==\"place:brazil:GO:Goiânia\")\n{\n    upcidade = cidade;\n    gps=\"-16.68,-49.25\";\n}\n  if(cidade==\"place:brazil:RS:PortoAlegre\")\n{\n    upcidade = cidade;\n    gps=\"-30.03,-51.23\";\n}\n  if(cidade==\"place:brazil:PE:Recife\")\n{\n    upcidade = cidade;\n    gps=\"-8.06,-34.87\";\n}\n  if(cidade==\"place:brazil:RJ:RioDeJaneiro\")\n{\n    upcidade = cidade;\n    gps=\"-22.91,-43.20\";\n}\n  if(cidade==\"place:brazil:ES:Vitória\")\n{\n    upcidade = cidade;\n    gps=\"-20.32,-40.33\";\n}\n  if(cidade==\"place:brazil:PE:Olinda\")\n{\n    upcidade = cidade;\n    gps=\"-7.99,-34.87\";\n}\n   if(cidade==\"place:brazil:SP:Cravinhos\")\n{\n    upcidade = cidade;\n    gps=\"-21.34,-47.72\";\n}\n  if(cidade==\"place:brazil:SP:Botucatu\")\n{\n    upcidade = cidade;\n    gps=\"-22.89,-48.45\";\n}\n\n  if(cidade==\"place:brazil:SP:Guarulhos\")\n{\n    upcidade = cidade;\n    gps=\"-23.46,-46.53\";\n}\n\n  if(cidade==\"place:brazil:SC:Criciúma\")\n{\n    upcidade = cidade;\n    gps=\"-28.67,-49.36\";\n}\n  if(cidade==\"place:brazil:SP:ItapecericaDaSerra\")\n{\n    upcidade = cidade;\n    gps=\" -23.71,-46.84\";\n}\n\n  \n}\nif(msg.payload.issue.labels[1].name == \"type:Code:F\" || msg.payload.issue.labels[1].name == \"type:Writer:C\" || msg.payload.issue.labels[1].name == \"type:Organizer:A\" || msg.payload.issue.labels[1].name == \"type:Speaker:B\" || msg.payload.issue.labels[1].name == \"type:Translator:E\" || msg.payload.issue.labels[1].name == \"type:Video:D\"){\ntipo = msg.payload.issue.labels[1].name;\n\n  tipo = tipo.substring(tipo.indexOf(':') + 1);\n  \n  tipo = tipo.substring(0, tipo.lastIndexOf(':'));\n}\n\nvar points;\n\nif(msg.payload.issue.labels[1].name == \"type:Code:F\"){\n    points=6;\n}\nif(msg.payload.issue.labels[1].name == \"type:Writer:C\"){\n    points=4;\n}\nif(msg.payload.issue.labels[1].name == \"type:Organizer:A\"){\n    points=6;\n}\nif(msg.payload.issue.labels[1].name == \"type:Speaker:B\"){\n    points=6;\n}\nif(msg.payload.issue.labels[1].name == \"type:Translator:E\"){\n    points=2;\n}\nif(msg.payload.issue.labels[1].name == \"type:Video:D\"){\n    points=4;\n}\n \nif(msg.payload.label.name != \"deleta\")\n{\n       msg.method=\"POST\";\n        msg.url = \"{INSERT URL}/{INSERT INDEX}/\"+ msg.payload.issue.number;\n        msg.headers = {\"Content-type\" : \"application/json\"};\n        msg.payload = {\n        \"name\": msg.payload.issue.user.login,\n        \"title\":msg.payload.issue.title,\n        \"type\": tipo,\n        \"city\": upcidade,\n        \"gps\": gps,\n        \"points\": points,\n        \"date\": msg.payload.issue.created_at\n        };\n}\n \n}\nelse if(msg.payload.action != \"labeled\"){\n    \n    return null;\n}\n   return msg;\n\n\n\n//return [msg, cidade, tipo];\n",
	"outputs": 1,
	"noerr": 0,
	"x": 390,
	"y": 420,
	"wires": [
		["63bd1b19.e7b6fc"]
	]
}, {
	"id": "63bd1b19.e7b6fc",
	"type": "http request",
	"z": "c77b7014.ef615",
	"name": "git to elastic",
	"method": "use",
	"ret": "txt",
	"paytoqs": false,
	"url": "",
	"tls": "",
	"proxy": "",
	"authType": "basic",
	"x": 490,
	"y": 700,
	"wires": [
		["565565c5.a35c64"]
	]
}]
